<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>猴年说猴：跟著名猴子学减肥</string>
		<key>tag</key>
		<string>运动</string>
		<key>URL</key>
		<string>http://dxy.com/column/5077</string>
	</dict>
	<dict>
		<key>title</key>
		<string>科学安排运动，远离猝死意外</string>
		<key>tag</key>
		<string>运动</string>
		<key>URL</key>
		<string>http://m.dxy.com/column/4977</string>
	</dict>
	<dict>
		<key>title</key>
		<string>化零为整，随时动起来</string>
		<key>tag</key>
		<string>运动建议</string>
		<key>URL</key>
		<string>http://dxy.com/column/4199</string>
	</dict>
	<dict>
		<key>title</key>
		<string>糖尿病患者冬天怎么运动</string>
		<key>tag</key>
		<string>运动</string>
		<key>URL</key>
		<string>http://dxy.com/column/4719</string>
	</dict>
	<dict>
		<key>title</key>
		<string>是空腹运动高，还是吃饱再减肥？</string>
		<key>tag</key>
		<string>空腹运动</string>
		<key>URL</key>
		<string>http://dxy.com/column/4479</string>
	</dict>
	<dict>
		<key>title</key>
		<string>糖尿病人的运动小技巧！</string>
		<key>tag</key>
		<string>运动</string>
		<key>URL</key>
		<string>http://dxy.com/column/3961</string>
	</dict>
	<dict>
		<key>title</key>
		<string>孩子不喜欢运动怎么办？</string>
		<key>tag</key>
		<string>爱上运动</string>
		<key>URL</key>
		<string>http://dxy.com/column/4595</string>
	</dict>
	<dict>
		<key>title</key>
		<string>雾霾天，还能不能愉快的运动了？</string>
		<key>tag</key>
		<string>运动</string>
		<key>URL</key>
		<string>http://dxy.com/column/4532</string>
	</dict>
</array>
</plist>
