<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>recomCell0</key>
	<array>
		<dict>
			<key>headerImageName</key>
			<string>home_cell_0</string>
			<key>headerTitle</key>
			<string>这两种疾病在春天最容易盯上人，教你几招避开春季疾病</string>
			<key>headerDoctorIcon</key>
			<string>home_doctor_icon</string>
			<key>headerDoctorName</key>
			<string>蔡青青</string>
			<key>headerDoctorPosition</key>
			<string></string>
			<key>headerUrl</key>
			<string>http://m.dxy.com/column/5423</string>
		</dict>
		<dict>
			<key>leftTitle</key>
			<string>什么是乳胶过敏？</string>
			<key>leftBrief</key>
			<string>人的身体对天然橡胶蛋白的一种反应。</string>
			<key>leftTag</key>
			<string>健康词条</string>
		</dict>
		<dict>
			<key>rightTitle</key>
			<string>哪些药物可以治疗乳胶过敏？</string>
			<key>rightBrief</key>
			<string>抗组胺药物和肾上腺素，根据需要使用。</string>
			<key>rightTag</key>
			<string>健康问答</string>
		</dict>
		<dict>
			<key>footerTitle</key>
			<string>手术麻醉都有哪些不同方法？</string>
			<key>footerBrief</key>
			<string>&quot;麻醉方式主要分三种：局部麻醉、区域麻醉、全是麻醉。这些麻醉方式通过不同的途径和药物，都能影响神经系统的功能&quot;</string>
			<key>footerDoctorIcon</key>
			<string>home_doctor_icon</string>
			<key>footerDoctorName</key>
			<string>丁香医生</string>
			<key>footerDoctorPosition</key>
			<string>丁香园旗下科普咨询平台</string>
		</dict>
	</array>
	<key>recomCell1</key>
	<array>
		<dict>
			<key>headerImageName</key>
			<string>home_cell_1</string>
			<key>headerTitle</key>
			<string>你有没有A4腰？都试过哪些减肥方法？</string>
			<key>headerDoctorIcon</key>
			<string>home_doctor_icon</string>
			<key>headerDoctorName</key>
			<string>丁香医生</string>
			<key>headerDoctorPosition</key>
			<string>丁香园旗下科普咨询平台</string>
			<key>headerUrl</key>
			<string>http://m.dxy.com/column/5423</string>
		</dict>
		<dict>
			<key>leftTitle</key>
			<string>常用的减肥药物有哪些？</string>
			<key>leftBrief</key>
			<string>全球获准上市的减肥药也不能随便吃。</string>
			<key>leftTag</key>
			<string>健康问答</string>
		</dict>
		<dict>
			<key>rightTitle</key>
			<string>所有人都可以做减重手术吗</string>
			<key>rightBrief</key>
			<string>减重手术本身存在一定风险。</string>
			<key>rightTag</key>
			<string>健康问答</string>
		</dict>
		<dict>
			<key>footerTitle</key>
			<string>胖不胖，不是只有体重说了算</string>
			<key>footerBrief</key>
			<string>如果你还认为体重是唯一判断标准，减肥就是减重，那么你误解了肥胖。有一种腹型肥胖危害更大。</string>
			<key>footerDoctorIcon</key>
			<string>home_doctor_icon</string>
			<key>footerDoctorName</key>
			<string>徐乃佳</string>
			<key>footerDoctorPosition</key>
			<string>湖北武汉市中医医院内分泌主治医师</string>
		</dict>
	</array>
	<key>recomCell2</key>
	<array>
		<dict>
			<key>headerImageName</key>
			<string>home_cell_2</string>
			<key>headerTitle</key>
			<string>这十个广为流传的育儿「经验」都是错的！</string>
			<key>headerDoctorIcon</key>
			<string>home_doctor_icon</string>
			<key>headerDoctorName</key>
			<string>付婷</string>
			<key>headerDoctorPosition</key>
			<string>医学科普编辑</string>
			<key>headerUrl</key>
			<string>http://m.dxy.com/column/5423</string>
		</dict>
		<dict>
			<key>leftTitle</key>
			<string>尿路感染有哪几种？</string>
			<key>leftBrief</key>
			<string>根据不同的方法，有很多种分类。</string>
			<key>leftTag</key>
			<string>健康问答</string>
		</dict>
		<dict>
			<key>rightTitle</key>
			<string>尿路感染有哪些治疗方法</string>
			<key>rightBrief</key>
			<string>抗菌药物治疗，是尿路感染的主要治疗方法</string>
			<key>rightTag</key>
			<string>健康问答</string>
		</dict>
		<dict>
			<key>footerTitle</key>
			<string>尿道干扰的女患者自行用高锰酸钾导致阴道灼伤，她到底错在哪？</string>
			<key>footerBrief</key>
			<string>出现这种情况，这位患者错的还不少，自行用药，用药过猛，都是不可取的。</string>
			<key>footerDoctorIcon</key>
			<string>home_doctor_icon</string>
			<key>footerDoctorName</key>
			<string>蔡辉儒</string>
			<key>footerDoctorPosition</key>
			<string>生物化学硕士，执行药师，中国营养学会会员</string>
		</dict>
	</array>
	<key>recomCell3</key>
	<array>
		<dict>
			<key>headerImageName</key>
			<string>home_cell_3</string>
			<key>headerTitle</key>
			<string>卵子的N种死法</string>
			<key>headerDoctorIcon</key>
			<string>home_doctor_icon</string>
			<key>headerDoctorName</key>
			<string>邹世恩</string>
			<key>headerDoctorPosition</key>
			<string>复旦大学附属妇产科医院 副主任医师</string>
			<key>headerUrl</key>
			<string>http://m.dxy.com/column/5423</string>
		</dict>
		<dict>
			<key>leftTitle</key>
			<string>抑郁症有哪些表现？</string>
			<key>leftBrief</key>
			<string>多数患者抑郁的人会出现下面所描述的5-6个症状或更多。</string>
			<key>leftTag</key>
			<string>健康问答</string>
		</dict>
		<dict>
			<key>rightTitle</key>
			<string>符合抑郁症的表现，就是得了抑郁症？？</string>
			<key>rightBrief</key>
			<string>不一定，不是说符合几条症状就是抑郁症了。</string>
			<key>rightTag</key>
			<string>健康问答</string>
		</dict>
		<dict>
			<key>footerTitle</key>
			<string>胖不胖，不是只有体重说了算</string>
			<key>footerBrief</key>
			<string>如果你还认为体重是唯一判断标准，减肥就是减重，那么你误解了肥胖。有一种腹型肥胖危害更大。</string>
			<key>footerDoctorIcon</key>
			<string>home_doctor_icon</string>
			<key>footerDoctorName</key>
			<string>徐乃佳</string>
			<key>footerDoctorPosition</key>
			<string>湖北武汉市中医医院内分泌主治医师</string>
		</dict>
	</array>
</dict>
</plist>
