<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DXDoctor.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FE15CB2E1C131CF800FDBAA0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FE15CB421C131CF800FDBAA0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FE15CB4D1C131CF800FDBAA0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
